.App {
  text-align: center;
} 

.house-list {
  background-color: #DDDDDD;
  text-align: center;
}

.delete-btn {
  background-color: #ff4136;
  color: whitesmoke;
  padding: 1px 1px;
} 

.delete-btn:hover {
  background-color: #be271f; 
}

.add-room {
  background-color: #3d9970;
  color: whitesmoke;
}

.add-room:hover {
  background-color: #33f79b; 
}
